* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

.container {
    max-width: 968px;
    width: 100%;
    margin: auto;
}

.top_bar_title h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 100;
    color: #211E22;
    margin-bottom: 20px;
}

.brands_header_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
}

a.brands_nav_tab {
    padding: 10px 15px;
    border-bottom: 2px solid #ddd;
    text-decoration: none;
    color: #211E22;
}

a.brands_nav_tab:hover {
    border-bottom: 2px solid #333333;
}

a.brands_nav_tab span {
    font-size: 18px;
}

.featured_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
}

.featured_col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.featured_col2 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.top_image_wrapper {
    margin: 0 7px;
}

.featured_col2 .top_image_wrapper {
    margin: 0 4px;
}

.featured_col2 .left_logo {
    max-width: 208px;
    max-height: 65px;
}

.bottom_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bottom_info h4 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    color: #575757;
}

a.bottom_info_wp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #787779;
}

.logo_desc {
    max-width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}

.left_logo {
    max-width: 125px;
}

.logo_brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
}

.brand_wraper_bb {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
}

.top_title h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 100;
    color: #211E22;
    font-size: 24px;
}

.top_title {
    padding-top: 80px;
}

.brands_header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
}

.tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;

}

.tabcontent {
    display: none;
}

.tablinks {
    padding: 2px 5px;
    margin: 0 3px;
    border: none;
    background: none;
    color: #4d4a4f;
    font-size: 18px;
    cursor: pointer;
}

.tablinks span {
    text-decoration: underline;
    padding: 2px 0;
    display: block;
}

.tablinks.active span {
    text-decoration: none;
}

.tablinks:hover span {
    text-decoration: none;
}

.tab a.active {
    background-color: #4d4a4f;
    color: #fff;
}

.brands_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.brand_col {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.brand_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    width: 100%;
}

.brand_link a {
    width: 100%;
    color: #4d4a4f;
    font-size: 18px;
    text-decoration: underline;
}

.brand_link a:hover {
    text-decoration: none;
    color: #707070;
}

.image_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 180px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
}


.content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.brand_wrapper {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    row-gap: 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.brands {
    width: 11%;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.brands a img {
    -webkit-box-shadow: 3px 3px 10px 0px #303030a8;
    box-shadow: 3px 3px 10px 0px #303030a8;
}

.top_image_wrapper>a>img {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top_image_wrapper:hover img {
    scale: 1.03;
}

.brands:hover {
    scale: 1.1;
}

@media only screen and (max-width: 1024px) {
    .top_bar_title h1 {
        font-size: 28px;
    }

    .featured_col2 .left_logo {
        max-width: 170px;
    }

    .image_wrapper {
        max-width: 120px;
    }

    .left_logo {
        max-width: 80px;
    }

    .logo_desc {
        font-size: 16px;
    }

    .top_title h1 {
        font-size: 20px;
    }

    .brands {
        width: 16%;
    }
    
    .container {
        max-width: 95%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .top_bar_title h1 {
        font-size: 24px;
    }

    .top_title {
        padding-top: 30px;
    }

    .logo_desc {
        font-size: 12px;
        max-width: 160px;
        line-height: 15px;
    }
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
    a.bottom_info_wp {
        gap: 05px;
    }

    .top_title h1 {
        font-size: 18px;
    }

    a.brands_nav_tab {
        padding: 6px 8px;
        border-bottom: 2px solid #ddd;
        text-decoration: none;
        color: #211E22;
    }

    a.brands_nav_tab span {
        font-size: 12px;
    }

    .tablinks {
        font-size: 14px;
    }

    .tab {
        padding: 0 15px;
    }

    .brand_link a {
        font-size: 14px;
    }

    .brand_col {
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    }

    .brands {
        width: 20%;
    }

    .bottom_info h4 {
        font-size: 12px;
        margin-top: 2px;
    }
}